<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Project</display-name>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>PersonController</servlet-name>
    <servlet-class>com.siwa.controller.PersonController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PersonController</servlet-name>
    <url-pattern>/PersonController.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ProjectController</servlet-name>
    <servlet-class>com.siwa.controller.ProjectController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProjectController</servlet-name>
    <url-pattern>/ProjectController.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CommentController</servlet-name>
    <servlet-class>com.siwa.controller.CommentController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CommentController</servlet-name>
    <url-pattern>/CommentController.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TestController</servlet-name>
    <servlet-class>com.siwa.controller.TestController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestController</servlet-name>
    <url-pattern>/TestController.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AssignController</servlet-name>
    <servlet-class>com.siwa.controller.AssignController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AssignController</servlet-name>
    <url-pattern>/AssignController.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>IssueController</servlet-name>
    <servlet-class>com.siwa.controller.IssueController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IssueController</servlet-name>
    <url-pattern>/IssueController.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>com.siwa.controller.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/LoginController.do</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>AdminFilter</filter-name>
    <filter-class>myfilter.AdminFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AdminFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>IndexController</servlet-name>
    <servlet-class>com.siwa.controller.IndexController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IndexController</servlet-name>
    <url-pattern>/IndexController.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EditStatusController</servlet-name>
    <servlet-class>com.siwa.controller.EditStatusController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditStatusController</servlet-name>
    <url-pattern>/EditStatusController.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RegisterController</servlet-name>
    <servlet-class>com.siwa.controller.RegisterController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterController</servlet-name>
    <url-pattern>/RegisterController.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>check</servlet-name>
    <servlet-class>com.siwa.controller.CheckAvailability</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>check</servlet-name>
    <url-pattern>/check</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ConfigProject</servlet-name>
    <servlet-class>com.siwa.controller.ConfigProject</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConfigProject</servlet-name>
    <url-pattern>/ConfigProject.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RegisterDetailController</servlet-name>
    <servlet-class>com.siwa.controller.RegisterDetailController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterDetailController</servlet-name>
    <url-pattern>/RegisterDetailController.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TaskController</servlet-name>
    <servlet-class>com.siwa.controller.TaskController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TaskController</servlet-name>
    <url-pattern>/TaskController.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MilestoneController</servlet-name>
    <servlet-class>com.siwa.controller.MilestoneController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MilestoneController</servlet-name>
    <url-pattern>/MilestoneController.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LabelController</servlet-name>
    <servlet-class>com.siwa.controller.LabelController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LabelController</servlet-name>
    <url-pattern>/LabelController.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AssignLabelController</servlet-name>
    <servlet-class>com.siwa.controller.AssignLabelController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AssignLabelController</servlet-name>
    <url-pattern>/AssignLabelController.do</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
    <servlet-name>AssignMilestoneController</servlet-name>
    <servlet-class>com.siwa.controller.AssignMilestoneController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AssignMilestoneController</servlet-name>
    <url-pattern>/AssignMilestoneController.do</url-pattern>
  </servlet-mapping>
</web-app>